  /* src/App.css */
  .App {
    position: relative;
    z-index: 1;
    color: rgb(243, 19, 19);
    text-align: center;
    padding: 20px;
  }
  
  .content {
    position: relative;
    z-index: 2;
  }  